

@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Weather</h1>
    <p class="lead">Click the button to get a weather forecast.</p>
    <p>Enter</p>

    <button class="btn btn-default" id="weatherForecast">Get Weather</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
    <script language="javascript">
        $(document).ready(function () {
            
            $("#weatherForecast").click(function () {
                $.ajax({
                    type: "GET",
                    url: 'https://forecast.weather.gov/MapClick.php?lat=38.4247341&lon=-86.9624089&FcstType=json',
                    success: function (data) {
                        alert(data.data.text);
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
            });
        });
    </script>
}